miners:
  - ethosName: ''
    tplinkName: ''

  - ethosName: ''
    tplinkName: ''

ethos:
  url: ''

tplink:
  url: ''
  cloudUserName: ''
  cloudPassword: ''
  terminalUUID: ''
  tokenLocation: ''

resetIntervalSeconds:
tokenFile: '/tmp/*'
